html {
    max-width: 500px;
    margin: auto;
}

body {
    background-color: #31403d;
    color: ghostwhite;
    width: 417px;
    text-align: center;
    font-family: cursive; 
}

#score, #time-left {
    color: #ff7f7f;
}

.square {
    height: 133px;
    width: 133px;
    border: solid 3px #31403d;
    background-color: #ff7f7f;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 417px;
    width: 417px;
}

.mole {
    background-image: url("mole.png");
    background-size: cover;
}

a {
    color: ghostwhite;
    font-size: 12px;
}

a:hover {
    color: #ff7f7f;
}